body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0F202F;
    box-sizing: border-box;
}

a:active{
    text-decoration: none;
}
a{
    color:#fff;
    text-decoration: none;
}

img{
    padding-bottom: 10px;
    margin: auto;
    width:65%;
    height: auto;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin:auto;
    padding: 30px;
    background-color: #0F202F;

}

header {
    text-align: baseline;
    margin-bottom: 30px;
    color:#fff;
    width:80%;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

main {
    background-color: #0F202F;
    font-family: "Basic", sans-serif;
    width:80%;
}

.form-group {
    margin-bottom: 20px;
    text-align: baseline;
}

label {
    display: block;
    color:#fff;
    text-align: baseline;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    font-family: "Basic", sans-serif;
}


.signup {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff !important;
    text-align: end;
}

.link-cadastro:active{
    color: inherit !important;
}

.link-cadastro:hover {
    text-decoration: underline;
}
